.nav-games {
  background-color: #78c3df;
  opacity: 0.95;
}

.nav-gaming {
  background-color: #1a1a1d;
  opacity: 0.8;
}

.navbar-custom {
  font-size: 2rem;
}

/* background images for each page */
.bg-about {
  background-image: url("./images/unsplash_cjtagupa_balabac.jpg");
  opacity: 0.23;
}

.bg-games {
  background-image: url("./images/unsplash_mikaBaumeister_superMario.jpg");
  opacity: 0.2;
}

.bg-gaming {
  background-image: url("./images/unsplash_alexeySavchenko_ps4controller.jpg");
  opacity: 0.57;
}

.bg-about,
.bg-games,
.bg-gaming {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
